*.o
*.d
*.srec
*.map
*.cproject
*.project
*.settings.xml

*.lss
nrf24L01_code/*/Debug/
.atsuo
nrf24L01_code/out/*
software/application/build
software/application/CMakeLists.txt
software/application/App/paths
